/* Stile */

.project_container{
    padding: 1rem;
    border: 1px solid black;
    min-height: 300px;
}
.container{
    box-sizing: border-box;
}
.info{
    
}
.img{
    padding-right: 1rem;
    height: 300px;
    float: left;
}
.titolo{
    text-align: center;
}
.immagine{
    height: 100%;
    width: auto;
    max-width: 100%;
}

.ambito{
    float: left;
    height: 80px;
}
.likes{ 
    text-align: right;
    height: 80px;
}
.descrizione{    
}