.account-link {
    position: absolute;
    top: 10px; /* Posizione iniziale dall'alto */
    right: 25px; /* Posizione a destra */
    width: 30px; /* Larghezza desiderata */
    height: 11px; /* Altezza automatica */
}

.salvati-link {
    position: absolute;
    top: 12px; /* Posizione iniziale dall'alto */
    right: 75px; /* Posizione a destra */
    width: 24px; /* Larghezza desiderata */
    height: 9px; /* Altezza automatica */
}

.aggiungi-link {
    position: absolute;
    top: 13.5px; /* Posizione iniziale dall'alto */
    right: 123.5px; /* Posizione a destra */
    width: 24px; /* Larghezza desiderata */
    height: 9px; /* Altezza automatica */
}